:root{
    --rafting-blue: #264653;
    --rafting-blue-light: #2A9D8F;
    --rafting-yellow: #E9C46A; 
    --rafting-red: #F4A261; 
}
body {
    max-width: 1000px;   
    margin: 0 auto; 
    font-family: 'open sans', sans-serif;   
}   


h1, h2 {
    color: var(--rafting-blue);
    font-size: 2rem; 
    font-family: 'open sans', sans-serif;       
} 

h2 {
    text-align: center  ;
}

p{
    color: black;
    font-size: 1.2rem;       
} 

.sociallinks a{
    color: var(--rafting-blue);
    text-decoration: none;           
}

.logo{
    width: 70px; 
    height: 70px; 
    margin-left: 50px;  
}

.hero{
    position: relative; 
}
.hero img{
    display: block;
    width: 100%;
    height: auto;   
}

.hero-text{
    position: absolute; 
    top:10px; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    color: white; 
    
}   

.hero-text h1{
    position: absolute;
    top: -35px;
    left: -1px;
    width: 600px;   
}

.hero-text article{
    position: absolute; 
    top: 80px;   
    left: -300px;
    width: 600px;
    display: flex;
    margin: 0 auto ;
    padding: 20px;  
    flex-direction: row-reverse;  
    align-items: center ; 
    justify-content: space-between; 
    background-color: rgb(220, 204, 204);
    opacity: 0.8;  
}

header{
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 100px;
    margin-bottom: 10px;  
}

nav ul{
    display: flex;   
    margin-right: 20px;
    align-items: center ;
    font-size: 1.2rem;  
}

li{
    list-style: none;
    width: 130px;
    border: 1px solid black;  
    text-align: center  ;
} 

li a{
    text-decoration: none; 
    color: black; 
    
}   


.hero-text img{
    width: 150px;
    height: 120px;
}

footer{
    display: flex; 
    background-color: var(--rafting-blue);
    color: white; 
    align-items: center ;
    justify-content: space-between;
    padding: 10px;
    margin: 0 auto;      
} 

footer p{
    margin-left: 30px;
    text-align: center  ;
}
.sociallinks {
    display: flex;

}

.sociallinks img{
    width: 30px; 
    height: 30px; 
    margin: 0 10px; 
} 

.history-container{
    background-color: var(--rafting-blue-light);
    margin-bottom: 20px;    
}


.history{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    align-items: center ;
    gap: 10px; 
    margin-top: -40px; 
    padding: 20px;   
    border-radius: 10px; 
}  

.history img{
    width: 300px;     
    height: auto; 
    border-radius: 10px; 
}

.gallery{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    gap: 10px; 
    margin-top: 20px; 
    padding: 20px; 
    background-color: var(--rafting-blue-light); 
    border-radius: 10px; 
}   

.gallery img{
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
}   