:root{
    --primary-color: #86BBD8;
    --secondary-color: #33658A;
    --accent1-color: #F7B538;
    --accent2-color: #F4A259;
}

main{
    max-width: 840px;
    margin: auto;
}

h1,h2,h3,h4,h5{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: darkblue;
}

body{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.sociallinks a{
    text-decoration: none;/*remove underlines*/
}

img{
    max-width: 100;/*ensure image is responsive*/
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin-bottom: 10px;/*space between images*/
    float: right;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
    position: relative;/*needed for positioning child elements*/
}

.hero h1{
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 3em;
    color: white;
    text-shadow: 2px 4px rgba(0,0,0,0.2);
}

.hero article{
    position: absolute;
    background-color: darkgray;
}

article img{
    float: right;
    max-width: 150px;/*use max width for responsiveness*/
    height: auto;/*maintain aspect ratio*/
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin-left: 10px;/*space between the article image and text*/
}

p{
    text-align: left;
}

