:root{
    --rafting-blue: #264653;
    --rafting-blue-light: #2A9D8F;
    --rafting-yellow: #E9C46A; 
    --rafting-red: #F4A261; 
}
body {
    max-width: 800px;   
    margin: 0 auto; 
    font-family: 'open sans', sans-serif;   
}   


h1, h2 {
    color: var(--rafting-blue);
    font-size: 2rem; 
    font: 'oswald', sans-serif;    
}   

p{
    color: black;
    font-size: 1.2rem;       
} 

.sociallinks a{
    color: var(--rafting-blue);
    text-decoration: none;           
}

.logo{
    width: 70px; 
    height: 70px;   
}

.hero{
    position: relative; 
}
.hero img{
    display: block;
    width: 100%;
    height: auto;   
}

.hero-text{
    position: absolute; 
    top:10px; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    color: white; 
    
}   

.hero-text h1{
    position: absolute;
    background-color: rgb(212, 200, 236); 
    top: -10px;
    left: -300px;
    width: 600px;   
}

.hero-text article{
    position: absolute; 
    top: 80px;   
    left: -300px;
    width: 600px;
    display: flex;
    margin: 0 auto ;
    padding: 20px;  
    flex-direction: row-reverse;  
    align-items: center ; 
    justify-content: space-between; 
    background-color: rgb(220, 204, 204);
    opacity: 0.8;  
}

header{
    display: flex;
    gap: 100px;
    margin-bottom: 10px;  
}

nav{
    font-size: 1.2rem;  
}

.hero-text img{
    width: 200px;
    height: 200px;
}

footer{
    background-color: var(--rafting-blue);
    color: white; 
    text-align: center; 
    align-items: center ;
    padding: 10px;
    margin: 0 auto; 
    display: flex;  
}   
.sociallinks {
    display: flex;

}

.sociallinks img{
    width: 30px; 
    height: 30px; 
    margin: 0 10px; 
}   
